<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="refresh" content="3;URL=/token.json">
    <title>Success</title>
    <link rel="icon" href="data:;base64,=">
</head>

<body>
    <p>Token has been generated! Please download "token.json".</p>
    <p>Download will be automatically started in 3 seconds...</p>
    <p>Or you can click <a href="/token.json">here</a> to download it.</p>
</body>

</html>